@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&family=Montserrat:wght@300;400&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Open+Sans:wght@300&family=Quicksand:wght@300;400;500;600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Ubuntu:wght@300&family=Work+Sans:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
font-family:"Quicksand";
}
.container {
    width: 90%;
    margin: auto;
}
a {
    text-decoration: none;
}
a:hover {
    transition: 0.6 ease;

}
ul{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}
button{
    border:none;
    padding: 10px 15px;
    border-radius: 5px;
}
p {
    line-height: 1.6;
}

/* HEADER SECTION */

header{
    background-image: linear-gradient(rgba(238, 238, 238,0.2),rgba(238, 238, 238,0.1)),url("img/slika3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
header .container nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}
header .container nav h3{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(167, 20, 167);
}
header .container nav ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}
header .container nav ul li a{
    padding: 10px 15px;
    font-size: 1.3rem;
    font-weight: 500;
    box-shadow: 0px 0px 10px white;
    color:purple;
    background-color: white;
    border-radius: 3px;
}
header .container nav ul li a:hover{
    background-color: rgba(128, 0, 128,0.7);
    border-radius: 3px;
    color: white;
    transition: 0.6s ease;
}
header .container hgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 70vh;
}
header .container hgroup h2{
    font-size: 3rem;
    text-align: center;
    color: rgb(77, 8, 77);
    text-shadow: 0px 0px 10px white;
    font-weight: 600;
}
header .container hgroup p{
    font-size: 1.7rem;
    text-align: center;
    color: rgb(83, 0, 83);
    text-shadow: 10px 10px 20px white;
}

/* UPUTSTVA SECTION */
.uputstva {
    margin-top: 30px;
} 
.uputstva .container hgroup h3{
    font-size: 2rem;
    text-align: center;
    padding: 20px 0px 10px;
    color: purple;
    font-weight: 500;
}
.uputstva .container hgroup p{
    font-size: 1.5rem;
    padding: 20px 0px;
    color: #444;
    font-weight: 400;
    text-align:left;
}
.uputstva .container .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.uputstva .container .row article{
    padding: 15px;
    background-color:whitesmoke;
    border-radius: 15px;
    text-align: center;
    color: #444;
    font-weight: 500;
}
.uputstva .container .row article:hover{
    box-shadow: 0px 0px 20px purple ;
}
.uputstva .container .row article h3{
    font-size: 1.5rem;
    padding-bottom:10px ;
    color: purple;
    font-weight: 500;
}
.uputstva .container .row article img {
    border-radius: 10px;
}
.uputstva .container .row article p {
    font-size: 1.2rem;
    padding-top: 10px;
}

/* QUIZ SECTION */

.quiz {
    padding: 40px 0px;
    background-image:linear-gradient(rgba(244,244,244,1),rgba(233,233,233,0.1)), url("img/slika2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100%;
    width: 100%;
}
.quiz h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color:  purple;
    padding-bottom: 20px;
}
.quiz .container .ispisP {
    padding-bottom: 20px;
}
.quiz .container .ispisP h4 {
    font-weight: 500;
    font-size: 1.4rem;
    padding: 10px 0px;
    color: #444;
}
.quiz .container .ispisP p label {
    font-weight: 400;
    font-size: 1.3rem;
    padding: 10px 0px;
}
.quiz .container .ispisP p {
    padding-bottom: 20px;
}
.quiz .container .ispisP p label input{
    width: 5%;
    height: 1.2rem;
}

.quiz .container #btn1 {
    background-color: rgb(91, 243, 31);
    color: white;
    font-size: 1.1rem;
    margin: 0px 10px;
} 
.quiz .container #btn1:hover{
    background-color: rgb(12, 155, 19);
    color: white;
}
.quiz .container #btn2 {
    background-color: rgb(30, 149, 247);
    color: white;
    font-size: 1.1rem;
    margin: 0px 10px;
} 
.quiz .container #btn2:hover{
    background-color: rgb(5, 88, 165);
    color: white;
}

.quiz .container .ispisO {
    padding-top:25px; ;
} 
.quiz .container .ispisO p {
   font-size: 1.3rem;
} 