@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Montserrat:wght@300;400&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Open+Sans:wght@300&family=Ubuntu:wght@300&family=Work+Sans:wght@300&display=swap');

/* DEFAULT STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito";
    scroll-behavior: smooth;
}
.container {
    width: 90%;
    margin: auto;
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    transition: 0.6s ease
}

h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
ul {
    list-style: none;
}

/* HEADER SECTION */

header {
    background-image:linear-gradient(rgba(88,88,88,0.5),rgba(88,88,88,0.4)),url(img/fiori111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}
header .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}
header .container nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .container nav ul li a {
    font-size: 1.4rem;
    padding: 10px;
}
header .container nav ul li a:hover {
    transition: 0.6 ease;
    background-color: rgb(186, 240, 125);
}
header .container nav .logo h4 {
    color: rgb(253, 245, 229);
    font-size: 1.8rem;
    background-color: rgba(186, 240, 125,0.6);
    padding: 5px;
    font-style: italic;
}

header .container hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;
}
header .container hgroup h2 {
    font-size: 3rem;
    text-shadow:5px 5px 10px greenyellow;
}
header .container hgroup p{
    font-size: 1.8rem;
    text-align: center;
}

/* ABOUT SECTION */


.about .container {
    padding: 30px 0px;
    color: #333;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about .container .row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.about .container .row img{
    height: 40vh;
    padding: 15px 0px;
}
.about .container hgroup h3 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 500;
}

.about .container hgroup p {
    font-size: 1.3rem;
    padding: 15px 0;
    font-weight: 400;
}


/* SERVICES SECTION */
.services{
    background-color: #eee;
    margin: 20px 0px;
}

.services .container{
    padding: 30px 0px;
}
.services .container {
    padding: 30px 0px;
    color: #333;
}
.services .container hgroup h3 {
    font-size: 2.2rem;
    text-align: left;
    font-weight: 500;
}
.services .container hgroup p {
    font-size: 1.3rem;
    padding: 15px 0;
}
.services .container .row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.services .container .row article{
    padding: 15px;
    background-color:white;
    border-radius: 5px;
    text-align: center;
    color: #444;
    font-weight: 500;
}
.services .container .row article:hover{
   box-shadow: 5px 5px 10px #444;
}
.services .container .row article h4{
    border: none;
    border-radius: 3px;
    background-color:rgb(247, 199, 111);
    color:white;
    padding: 5px 13px;
    font-size: 1.3rem;
}
.services .container .row article p{
    font-size: 1.2rem;
    padding: 10px 0;
}
.services .container .row article img{
    height: 30vh;
    padding: 10px 5px;
}
.services .container .row article button{
    border: none;
    border-radius: 3px;
    background-color:rgb(243, 189, 88);
    color:white;
    padding: 5px 13px;
    font-size: 1.2rem;
}
.services .container .row article button:hover{
    background-color:rgb(183, 247, 110);
}

/* ORDER SECTION */

.order .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 1.3rem;
    color: #333;
}
.order .container form .div1{
    padding: 10px 0px;
}
.order .container h3{
    font-size: 1.8rem;
    padding: 10px 0px;
}
.order .container form .div1 input{
    padding: 5px 10px;
    font-size: 1rem;
    margin: 5px 0px;
    border: 1px solid grey;
    border-radius: 5px;
}
.order .container form .div1 input[type="number"]:focus{
    outline:2px solid orange;
    border: none;
}
.order .container form .div1 label{
    padding: 5px 10px;
    margin: 5px 0px;
}
.order .container form .div1 input[type="radio"],input[type="checkbox"] {
    width: 5%;
    height: 1em;
}
.order .container form input[type="submit"],input[type="reset"]{
    border: none;
    border-radius: 3px;
    background-color:rgb(243, 189, 88);
    color:white;
    padding: 5px 13px;
    font-size: 1.2rem;
}
.order .container form input[type="submit"]:hover{
    background-color:rgb(183, 247, 110);
}
.order .container form input[type="reset"]:hover{
    background-color:orangered;
}
.order .container .porudzbina img{
    width: 25%;
    height: 10vh;
}
.order .container .porudzbina p{
    color: orange;
}
.order .container .porudzbina p:last-child{
    font-size: 1.5rem;
}

/* CONTACT SECTION */